<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        	http://www.springframework.org/schema/context
     		http://www.springframework.org/schema/context/spring-context-4.0.xsd
     		http://www.springframework.org/schema/aop
     		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        	http://www.springframework.org/schema/tx
        	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

<context:annotation-config />
<context:component-scan base-package="com.clover.training" />

<bean id="bookService" class="com.clover.training.service.BookService">
    <property name="finder" ref="bookFinder" />
</bean>

<!--<bean id="colonBookFinder" class="com.clover.training.repository.ColonBookFinder">-->
    <!--<constructor-arg index="0" value="book.txt" />-->
<!--</bean>-->

<bean id="bookFinder" class="com.clover.training.repository.BookFinderImpl">
    <constructor-arg index="0" ref="sessionFactory" />
</bean>

<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
        <list>
            <value>classpath:jdbc.properties</value>
        </list>
    </property>
    <property name="ignoreUnresolvablePlaceholders" value="true" />
</bean>

<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
    <property name="driverClass" value="${driverClass}" />
    <property name="jdbcUrl" value="${jdbcUrl}" />
    <property name="user" value="${user}" />
    <property name="password" value="${password}" />
</bean>

<!-- Configure sessionFactory -->
<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <property name="configLocation" value="classpath:hibernate.cfg.xml" />
</bean>

<!-- Config Transaction Manager -->
<tx:annotation-driven transaction-manager="transactionManager" />

<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory" />
</bean>

</beans>
