<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <!-- database configuration -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

        <!-- open statistics -->
        <property name="hibernate.generate_statistics">true</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!--<property name="hibernate.current_session_context_class">thread</property>-->
        <property name="hibernate.connection.autocommit">false</property>
        <property name="hibernate.connection.isolation">1</property>

        <mapping class="com.clover.training.model.Book" />

    </session-factory>

</hibernate-configuration>
